# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
.venv/
venv/
ENV/
env/

# Pipenv / Poetry / common packaging tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
build/
dist/
*.egg-info/

# Environment variables and secrets
.env
.flaskenv
coverage.xml

local.db
CLAUDE.md